nav{
	background-color: $primaryColor;
	height: 200px;
	display: inline;
	color: white;
	ul{
		display: flex;
		list-style: none;
		li{
			padding: 0 1em;
			a{
				text-decoration: none;
				color: white;
				&:hover{
					color: yellow;
				}
			}
		}
	}
}

li:first-child{
	margin-right: 50%;
}