.product_mainSection{
	margin: 20px 0 10px 50px;
	
	h1{
		margin: 50px 0 10px 0;
	}
	.product_mainBox{
		display: flex;

		.product_imagesBox{
			display: flex;
			width: 300px;
			flex-wrap: wrap;
			margin-right: 2em;

			.imageBig{
				object-fit: contain;
			}
			.product_smallImages{
				display: inherit;
				margin: 5px 12% 0 12%;

				.product_imageSmall{
					margin: 0 2px;
					object-fit: cover;
				}
			}
		}
		.product_textBox{
			margin: 0 0 0 10px;
			width: 500px;

			table{
				margin: 10px 0 0 20vw;

				td{
					width: 160px;
					margin: 0 0 0 20px;
				}
			}
		}
	}
	.product_rating{
		float: right;
		margin: 0 40vw 0 0;
		h4{
			text-align: center;
			margin: 0;
		}
		ul{
			display: flex;
			justify-content: space-between;
			margin: 20px 0 0 0;
			li{
				list-style: none;
				border: none;
				.fas{
					font-size: 2em;
					color: $primaryColor;
					pointer-events: none;
				}
			}
		}
		.product_ratingScore{
			margin: 30px 25% 0 25%;
		}
	}
}