<% include ../partials/head %><!-- importere html filer til denne. -->
<% include ../partials/header %>
<% include ../partials/nav %>

<main>
	<section>
		<h1>Brians Ostebiks</h1>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id incidunt maxime debitis voluptate? Debitis voluptates necessitatibus quae, suscipit sunt, cumque delectus modi sapiente neque cupiditate culpa quo nemo? Officia, autem?</p>
	</section>
</main>

<% include ../partials/footer %>
<% include ../partials/after-footer %>


<!-- Der efter kører npm run dev, i terminalen, så html/ejs filen bliver opdateret i dist mappen -->