<% include ../partials/head %><!-- importere html filer til denne. -->
<% include ../partials/header %>

<main class="index_main">
	<h1>Brians Ostebiks</h1>
	<section class="index_section">
		<h3>Ugens Oste</h3>
		<article class="index_article">
			<a href="https://via.placeholder.com"><img src="https://via.placeholder.com/150" alt="oste billede"/></a>
			<h5>Feta</h5>
			<p>Hard cheese lancashire cheese and wine. Boursin parmesan swiss fondue cheese slices babybel cream cheese red leicester. Cauliflower cheese fromage jarlsberg mozzarella boursin cut the cheese parmesan taleggio. Brie cottage cheese chalk and cheese edam.</p>
			<button>Læs mere</button>
		</article>
	</section>
</main>

<% include ../partials/after-footer %>