<% include ../partials/head %><!-- importere html filer til denne. -->
<% include ../partials/header %>

<main>
	<h1>Produktkategori</h1>
	<p>Kategoripræsentation - Stilton dolcelatte caerphilly. Brie port-salut taleggio caerphilly emmental halloumi cheese and biscuits cheesy grin. Melted cheese fromage who moved my cheese melted cheese macaroni cheese brie ricotta jarlsberg. Cheese triangles pepper jack cauliflower cheese smelly cheese bavarian bergkase danish fontina.</p>
	<section>
		<img/>
		<div>
			<h4>Produktnavn</h4>
			<p>Danish fontina pecorino cheese slices. Everyone loves cheddar brie lancashire squirty cheese monterey jack babybel mozzarella. Blue castello edam ricotta the big cheese stinking bishop cheese and biscuits cheesy feet pecorino. Camembert de normandie stinking bishop melted cheese ricotta cottage cheese camembert de normandie fromage taleggio. Airedale cheese and biscuits mascarpone blue castello.</p>
			<br>
			<table>
				<tr>
					<td>Land</td>
					<td>Danmark</td>
				</tr>
				<tr>
					<td>Vægt</td>
					<td>250g</td>
				</tr>
				<tr>
					<td>Pris</td>
					<td>DKK 65,75</td>
				</tr>
			</table>
		</div>
	</section>
	<section>
		<img/>
		<div>
			<h4>Produktnavn</h4>
			<p>Danish fontina pecorino cheese slices. Everyone loves cheddar brie lancashire squirty cheese monterey jack babybel mozzarella. Blue castello edam ricotta the big cheese stinking bishop cheese and biscuits cheesy feet pecorino. Camembert de normandie stinking bishop melted cheese ricotta cottage cheese camembert de normandie fromage taleggio. Airedale cheese and biscuits mascarpone blue castello.</p>
			<br>
			<table>
				<tr>
					<td>Land</td>
					<td>Danmark</td>		
				</tr>
				<tr>
					<td>Vægt</td>
					<td>250g</td>
				</tr>
				<tr>
					<td>Pris</td>
					<td>DKK 65,75</td>
				</tr>
			</table>
		</div>
	</section>
</main>

<% include ../partials/after-footer %>