<% include ../partials/head %><!-- importere html filer til denne. -->
<% include ../partials/header %>

<main>
<template id="cardTemplate">
<li>
	<article>
		<h1></h1>
		<img width="230" height="170" class="product_image" src="" alt=""/>
		<div>
			<img width="" height="" class="product_image" src="" alt=""/>
			<img width="" height="" class="product_image" src="" alt=""/>
			<img width="" height="" class="product_image" src="" alt=""/>
		</div>
		<div>
			<p></p>
			<table>
				<tr>
					<td>Land</td>
					<td><span class="country"></span></td>		
				</tr>
				<tr>
					<td>Vægt</td>
					<td><span class="weight"></span></td>
				</tr>
				<tr>
					<td>Pris</td>
					<td><span class="price"></psan></td>
				</tr>
			</table>
		</div>
	</section>
	</article>
</li>
</template>

	<section>
		<h4>Måske er du også interesseret i dette</h4>
		<div>
			<img/>
			<img/>
			<img/>
			<img/>
		</div>
	</section>
</main>

<script src="/assets/js/get-product.js"></script>
<% include ../partials/after-footer %>