<% include ../partials/head %><!-- importere html filer til denne. -->
<% include ../partials/header %>

<main>
	<h1>Produkt</h1>
	<section>
		<img/>
		<diV>
			<img/>
			<img/>
			<img/>
		</diV>
		<div>
			<p>
				Fromage smelly cheese cheesecake. Fromage emmental squirty cheese monterey jack swiss smelly cheese goat queso. Cheddar cut the cheese say cheese squirty cheese camembert de normandie emmental fondue cauliflower cheese. Pecorino cheddar cheese and biscuits emmental cheese and biscuits cheddar swiss cheddar. Cheese and wine bocconcini cheesecake cheese triangles.
				Parmesan feta cream cheese. Cottage cheese cheesy grin cheddar squirty cheese goat the big cheese pepper jack melted cheese. Cheesy grin bocconcini ricotta fromage frais ricotta everyone loves cut the cheese red leicester. Cheesy feet taleggio jarlsberg cheesecake cheese triangles the big cheese caerphilly mascarpone. Cream cheese danish fontina when the cheese comes out everybody's happy.
			</p>
			<table>
				<tr>
					<td>Land</td>
					<td>Danmark</td>		
				</tr>
				<tr>
					<td>Vægt</td>
					<td>250g</td>
				</tr>
				<tr>
					<td>Pris</td>
					<td>DKK 65,75</td>
				</tr>
			</table>
		</div>
	</section>

	<section>
		<h4>Måske er du også interesseret i dette</h4>
		<div>
			<img/>
			<img/>
			<img/>
			<img/>
		</div>
	</section>
</main>

<% include ../partials/after-footer %>