<% include ../partials/head %><!-- importere html filer til denne. -->
<% include ../partials/header %>

<main>
	<section class="product_mainSection">
		<h1></h1>
			<article class="product_mainBox">
				<div>
					<img class="imageBig" width="230" height="170" src="" alt=""/>
					<div class="product_smallImages">
						<img width="70" height="50" class="product_imageSmall1" src="" alt=""/>
						<img width="70" height="50" class="product_imageSmall2" src="" alt=""/>
						<img width="70" height="50" class="product_imageSmall3" src="" alt=""/>
					</div>
				</div>
				<div class="product_textBox">
					<p></p>
					<table>
						<tr>
							<td>Land</td>
							<td><span class="country"></span></td>		
						</tr>
						<tr>
							<td>Region</td>
							<td><span class="region"></span></td>
						</tr>
						<tr>
							<td>Kategori</td>
							<td><span class="category"></span></td>
						</tr>
						<tr>
							<td>Pris</td>
							<td><span class="price"></span>&nbsp kr. pr. flaske</td>
						</tr>
					</table>
				</div>
			</article>
	</section>

	<section>
		<h4>Måske er du også interesseret i dette</h4>
		<div>
			<img/>
			<img/>
			<img/>
			<img/>
		</div>
	</section>
</main>
		

<script src="/assets/js/fs-get-product.js"></script>
<% include ../partials/after-footer %>