
<nav>
	<ul>
		<li><a href="/">Brians Ostebiks</a></li>
		<li><a href="/products">Oste</a></li>
		<li><a href="/products">Vin</a></li>
		<li><a href="/products">Brød</a></li>
		<li href="#"><a>Kontakt</a></li>
	</ul>
</nav>