
<nav>
	<ul>
		<li><a href="index.html">Brians Ostebiks</a></li>
		<li><a href="products.html">Oste</a></li>
		<li><a href="products.html">Vin</a></li>
		<li><a href="products.html">Brød</a></li>
		<li href="#"><a>Kontakt</a></li>
	</ul>
</nav>